{% extends '@DOMJudge/team/base.html.twig' %}

{% block title %}Submission details - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="text-center mt-4">Submission details</h1>

    {% include '@DOMJudge/team/partials/submission_team.html.twig' %}
{% endblock %}
