<h3>Привет, {{ name }}!</h3>

<div>
    Поздравляем!!!
    <br>
    Все задачи текущего тренинга решены!
    <br>

    <img src="{{ asset('images/teams/incode_all-task-done.png') }}" class="champion-logo"/>

    <a href="{{ url('login') }}">Incode</a> ждёт тебя для решения новых задач.

</div>

<br>
С уважением,
<br>
администратор Incode.

