<h3>Привет, {{ name }}!</h3>

<div>
    Рады сообщить, что появился новый тренинг.
    <br>
    <a href="{{ url('login') }}">Incode</a> ждёт тебя!
</div>

<br>
С уважением,
<br>
администратор Incode.
<br>
<img src="{{ asset('images/incodelogo.png') }}" alt="Incode" width="150">

