<div class="navbar-text" style="white-space:nowrap;">
    <span id="contesttimer">
        {%- if contest is null -%}
          no contest
        {%- else -%}
            {{ contest.countdown }}
        {%- endif -%}
    </span>
</div>

<script>
    var activatetime = {{ contest.activatetime|default(-1) }};
    var starttime = {{ contest.starttime|default(-1) }};
    var endtime = {{ contest.endtime|default(-1) }};
    var contesttimeleftelt = document.getElementById("contesttimer");
    console.log("reload");

    setInterval(function () {
        updateTimer();
        console.log(contesttimeleftelt.innerText);
        if(contesttimeleftelt.innerText === 'Time to start: 00:00') {
            reloadPage();
            // clearInterval(this);
        }
    }, 1000);

</script>
